h2{
    text-align: center;
    font: bold;
    margin-top: 10%;
    margin-left: 60%;

}
body{
    background:  url(./icons/Err.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
  
}
